<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <title>Star Admin Free Bootstrap Admin Dashboard Template</title>
    <!-- plugins:css -->
    <link href="../../vendors/iconfonts/mdi/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="../../vendors/css/vendor.bundle.base.css" rel="stylesheet">
    <link href="../../vendors/css/vendor.bundle.addons.css" rel="stylesheet">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link href="../../css/style.css" rel="stylesheet">
    <!-- endinject -->
    <link href="images/favicon.png" rel="shortcut icon"/>
</head>

<body>
<div class="container-scroller">

    <!-- SESSÃO ANTI-MONGOL NÃO MEXA-->
    <!-- SESSÃO ANTI-MONGOL NÃO MEXA-->
    <!-- SESSÃO ANTI-MONGOL NÃO MEXA-->
    <!-- SESSÃO ANTI-MONGOL NÃO MEXA-->
    <!-- SESSÃO ANTI-MONGOL NÃO MEXA-->
    <!-- SESSÃO ANTI-MONGOL NÃO MEXA-->
    <!-- SESSÃO ANTI-MONGOL NÃO MEXA-->
    <!-- SESSÃO ANTI-MONGOL NÃO MEXA-->
    <!-- SESSÃO ANTI-MONGOL NÃO MEXA-->
    <!-- SESSÃO ANTI-MONGOL NÃO MEXA-->
    <!-- SESSÃO ANTI-MONGOL NÃO MEXA-->
    <!-- SESSÃO ANTI-MONGOL NÃO MEXA-->
    <!-- SESSÃO ANTI-MONGOL NÃO MEXA-->


    <!-- SESSÃO ANTI-MONGOL NÃO MEXA-->
    <!-- SESSÃO ANTI-MONGOL NÃO MEXA-->
    <!-- SESSÃO ANTI-MONGOL NÃO MEXA-->
    <!-- SESSÃO ANTI-MONGOL NÃO MEXA-->
    <!-- SESSÃO ANTI-MONGOL NÃO MEXA-->
    <!-- SESSÃO ANTI-MONGOL NÃO MEXA-->
    <!-- SESSÃO ANTI-MONGOL NÃO MEXA-->
    <!-- SESSÃO ANTI-MONGOL NÃO MEXA-->
    <!-- SESSÃO ANTI-MONGOL NÃO MEXA-->
    <!-- SESSÃO ANTI-MONGOL NÃO MEXA-->
    <!-- SESSÃO ANTI-MONGOL NÃO MEXA-->
    <!-- SESSÃO ANTI-MONGOL NÃO MEXA-->
    <!-- SESSÃO ANTI-MONGOL NÃO MEXA-->
    <nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
        <div class="text-center navbar-brand-wrapper d-flex align-items-top justify-content-center">
            <a class="navbar-brand brand-logo" href="../../index.html">
                <img alt="logo" src="../../images/logo.svg"/>
            </a>
            <a class="navbar-brand brand-logo-mini" href="../../index.html">
                <img alt="logo" src="../../images/logo-mini.svg"/>
            </a>
        </div>
        <div class="navbar-menu-wrapper d-flex align-items-center">
            <ul class="navbar-nav navbar-nav-left header-links d-none d-md-flex">
                <li class="nav-item">
                    </a>
                </li>
                <li class="nav-item active">
                </li>
                <li class="nav-item">
                </li>
            </ul>
            <ul class="navbar-nav navbar-nav-right">
                <li class="nav-item dropdown">
                    <a aria-expanded="false" class="nav-link count-indicator dropdown-toggle" data-toggle="dropdown"
                       href="#" id="messageDropdown">
                        <i class="mdi mdi-file-document-box"></i>
                        <span class="count">7</span>
                    </a>
                    <div aria-labelledby="messageDropdown"
                         class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list">
                        <div class="dropdown-item">
                            <p class="mb-0 font-weight-normal float-left">You have 7 unread mails
                            </p>
                            <span class="badge badge-info badge-pill float-right">View all</span>
                        </div>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item preview-item">
                            <div class="preview-thumbnail">
                                <img alt="image" class="profile-pic" src="../../images/faces/face4.jpg">
                            </div>
                            <div class="preview-item-content flex-grow">
                                <h6 class="preview-subject ellipsis font-weight-medium text-dark">David Grey
                                    <span class="float-right font-weight-light small-text">1 Minutes ago</span>
                                </h6>
                                <p class="font-weight-light small-text">
                                    The meeting is cancelled
                                </p>
                            </div>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item preview-item">
                            <div class="preview-thumbnail">
                                <img alt="image" class="profile-pic" src="../../images/faces/face2.jpg">
                            </div>
                            <div class="preview-item-content flex-grow">
                                <h6 class="preview-subject ellipsis font-weight-medium text-dark">Tim Cook
                                    <span class="float-right font-weight-light small-text">15 Minutes ago</span>
                                </h6>
                                <p class="font-weight-light small-text">
                                    New product launch
                                </p>
                            </div>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item preview-item">
                            <div class="preview-thumbnail">
                                <img alt="image" class="profile-pic" src="../../images/faces/face3.jpg">
                            </div>
                            <div class="preview-item-content flex-grow">
                                <h6 class="preview-subject ellipsis font-weight-medium text-dark"> Johnson
                                    <span class="float-right font-weight-light small-text">18 Minutes ago</span>
                                </h6>
                                <p class="font-weight-light small-text">
                                    Upcoming board meeting
                                </p>
                            </div>
                        </a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link count-indicator dropdown-toggle" data-toggle="dropdown" href="#"
                       id="notificationDropdown">
                        <i class="mdi mdi-bell"></i>
                        <span class="count">4</span>
                    </a>
                    <div aria-labelledby="notificationDropdown"
                         class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list">
                        <a class="dropdown-item">
                            <p class="mb-0 font-weight-normal float-left">You have 4 new notifications
                            </p>
                            <span class="badge badge-pill badge-warning float-right">View all</span>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item preview-item">
                            <div class="preview-thumbnail">
                                <div class="preview-icon bg-success">
                                    <i class="mdi mdi-alert-circle-outline mx-0"></i>
                                </div>
                            </div>
                            <div class="preview-item-content">
                                <h6 class="preview-subject font-weight-medium text-dark">Application Error</h6>
                                <p class="font-weight-light small-text">
                                    Just now
                                </p>
                            </div>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item preview-item">
                            <div class="preview-thumbnail">
                                <div class="preview-icon bg-warning">
                                    <i class="mdi mdi-comment-text-outline mx-0"></i>
                                </div>
                            </div>
                            <div class="preview-item-content">
                                <h6 class="preview-subject font-weight-medium text-dark">Settings</h6>
                                <p class="font-weight-light small-text">
                                    Private message
                                </p>
                            </div>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item preview-item">
                            <div class="preview-thumbnail">
                                <div class="preview-icon bg-info">
                                    <i class="mdi mdi-email-outline mx-0"></i>
                                </div>
                            </div>
                            <div class="preview-item-content">
                                <h6 class="preview-subject font-weight-medium text-dark">New user registration</h6>
                                <p class="font-weight-light small-text">
                                    2 days ago
                                </p>
                            </div>
                        </a>
                    </div>
                </li>
                <li class="nav-item dropdown d-none d-xl-inline-block">
                    <a aria-expanded="false" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"
                       id="UserDropdown">
                        <span class="profile-text">Olá, Marcio Brognoni !</span>
                        <img alt="Profile image" class="img-xs rounded-circle" src="../../images/faces/face1.jpg">
                    </a>
                    <div aria-labelledby="UserDropdown" class="dropdown-menu dropdown-menu-right navbar-dropdown">
                        <a class="dropdown-item p-0">
                            <div class="d-flex border-bottom">
                                <div class="py-3 px-4 d-flex align-items-center justify-content-center">
                                    <i class="mdi mdi-bookmark-plus-outline mr-0 text-gray"></i>
                                </div>
                                <div class="py-3 px-4 d-flex align-items-center justify-content-center border-left border-right">
                                    <i class="mdi mdi-account-outline mr-0 text-gray"></i>
                                </div>
                                <div class="py-3 px-4 d-flex align-items-center justify-content-center">
                                    <i class="mdi mdi-alarm-check mr-0 text-gray"></i>
                                </div>
                            </div>
                        </a>
                        <a class="dropdown-item" data-target="#gerenciar-conta" data-toggle="modal" href="#response">Gerenciar
                            conta</a>

                        <a class="dropdown-item">
                            Sair
                        </a>
                    </div>
                </li>
            </ul>
            <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" data-toggle="offcanvas"
                    type="button">
                <span class="mdi mdi-menu"></span>
            </button>
        </div>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">

        <!-- SESSÃO ANTI-MONGOL NÃO MEXA-->
        <!-- SESSÃO ANTI-MONGOL NÃO MEXA-->
        <!-- SESSÃO ANTI-MONGOL NÃO MEXA-->
        <!-- SESSÃO ANTI-MONGOL NÃO MEXA-->
        <!-- SESSÃO ANTI-MONGOL NÃO MEXA-->
        <!-- SESSÃO ANTI-MONGOL NÃO MEXA-->
        <!-- SESSÃO ANTI-MONGOL NÃO MEXA-->
        <!-- SESSÃO ANTI-MONGOL NÃO MEXA-->
        <!-- SESSÃO ANTI-MONGOL NÃO MEXA-->
        <!-- SESSÃO ANTI-MONGOL NÃO MEXA-->
        <!-- SESSÃO ANTI-MONGOL NÃO MEXA-->
        <!-- SESSÃO ANTI-MONGOL NÃO MEXA-->
        <!-- SESSÃO ANTI-MONGOL NÃO MEXA-->
        <!-- SESSÃO ANTI-MONGOL NÃO MEXA-->
        <!-- SESSÃO ANTI-MONGOL NÃO MEXA-->
        <!-- SESSÃO ANTI-MONGOL NÃO MEXA-->
        <!-- SESSÃO ANTI-MONGOL NÃO MEXA-->
        <!-- SESSÃO ANTI-MONGOL NÃO MEXA-->
        <!-- SESSÃO ANTI-MONGOL NÃO MEXA-->
        <!-- SESSÃO ANTI-MONGOL NÃO MEXA-->
        <!-- SESSÃO ANTI-MONGOL NÃO MEXA-->
        <!-- SESSÃO ANTI-MONGOL NÃO MEXA-->
        <!-- SESSÃO ANTI-MONGOL NÃO MEXA-->
        <!-- SESSÃO ANTI-MONGOL NÃO MEXA-->
        <!-- SESSÃO ANTI-MONGOL NÃO MEXA-->
        <!-- SESSÃO ANTI-MONGOL NÃO MEXA-->
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
            <ul class="nav">
                <li class="nav-item nav-profile">
                    <div class="nav-link">
                        <div class="user-wrapper">
                            <div class="profile-image">
                                <img alt="profile image" src="../../images/faces/face1.jpg">
                            </div>
                            <div class="text-wrapper">
                                <p class="profile-name">Marcio Brognoni</p>
                                <div>
                                    <small class="designation text-muted">Manager</small>
                                    <span class="status-indicator online"></span>
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-success btn-block">Novo Projeto
                            <i class="mdi mdi-plus"></i>
                        </button>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../../index.html">
                        <i class="menu-icon mdi mdi-television"></i>
                        <span class="menu-title">Painel</span>
                    </a>
                </li>

            </ul>
        </nav>

        <!-- SESSÃO ANTI-MONGOL NÃO MEXA-->
        <!-- SESSÃO ANTI-MONGOL NÃO MEXA-->
        <!-- SESSÃO ANTI-MONGOL NÃO MEXA-->
        <!-- SESSÃO ANTI-MONGOL NÃO MEXA-->
        <!-- SESSÃO ANTI-MONGOL NÃO MEXA-->
        <!-- SESSÃO ANTI-MONGOL NÃO MEXA-->
        <!-- SESSÃO ANTI-MONGOL NÃO MEXA-->
        <!-- SESSÃO ANTI-MONGOL NÃO MEXA-->
        <!-- SESSÃO ANTI-MONGOL NÃO MEXA-->
        <!-- SESSÃO ANTI-MONGOL NÃO MEXA-->
        <!-- SESSÃO ANTI-MONGOL NÃO MEXA-->
        <!-- SESSÃO ANTI-MONGOL NÃO MEXA-->
        <!-- SESSÃO ANTI-MONGOL NÃO MEXA-->
        <!-- SESSÃO ANTI-MONGOL NÃO MEXA-->
        <!-- SESSÃO ANTI-MONGOL NÃO MEXA-->
        <!-- SESSÃO ANTI-MONGOL NÃO MEXA-->
        <!-- SESSÃO ANTI-MONGOL NÃO MEXA-->
        <!-- SESSÃO ANTI-MONGOL NÃO MEXA-->
        <!-- SESSÃO ANTI-MONGOL NÃO MEXA-->
        <!-- SESSÃO ANTI-MONGOL NÃO MEXA-->
        <!-- SESSÃO ANTI-MONGOL NÃO MEXA-->
        <!-- SESSÃO ANTI-MONGOL NÃO MEXA-->
        <!-- SESSÃO ANTI-MONGOL NÃO MEXA-->
        <!-- SESSÃO ANTI-MONGOL NÃO MEXA-->
        <!-- SESSÃO ANTI-MONGOL NÃO MEXA-->
        <!-- SESSÃO ANTI-MONGOL NÃO MEXA-->
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="row">

                    <div class="col-lg-12 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <center><h4 class="card-title">Projetos</h4>
                                    <p>Resumo dos seus projetos</p>
                                </center>
                                <p class="card-description">
                                </p>
                                <div class="table-responsive">
                                    <table class="table table-striped">
                                        <thead>
                                        <tr>
                                            <th>

                                            </th>
                                            <th>
                                                Nome do projeto
                                            </th>
                                            <th>
                                                Progresso
                                            </th>
                                            <th>
                                                Lider
                                            </th>
                                            <th>
                                                Data Inicial
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="projeto : ${projetos}">
                                            <td class="py-1">
                                                <div class="label" th:text="${projeto.id}"></div>
                                            </td>
                                            <td >
                                                <div class="label" th:text="${projeto.nome}"></div>
                                            </td>
                                            <td>
                                                <div class="progress">
                                                    <div aria-valuemax="100" aria-valuemin="0"
                                                         aria-valuenow="50" class="progress-bar bg-success"
                                                         role="progressbar" th:attr="aria-valuenow=${projeto.progresso}"></div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="label" th:text="${projeto.criador.nome}"></div>
                                            </td>
                                            <td>
                                                <div class="label" th:text="${{projeto.dataCriacao}}"></div>

                                            <td>
                                                <div class="btn-group dropdown">
                                                    <button aria-expanded="false" aria-haspopup="true"
                                                            class="btn btn-primary dropdown-toggle btn-sm" data-toggle="dropdown"
                                                            type="button">
                                                        Menu
                                                    </button>

                                                    <div class="dropdown-menu">
                                                        <a class="dropdown-item" th:href="@{'/projeto/'+${projeto.id}}" >
                                                            <i class="fa fa-reply fa-fw"></i>Visualizar</a>
                                                        <a class="dropdown-item" >
                                                            <a class="dropdown-item" data-target="#editar"
                                                               data-toggle="modal" href="#response">Editar</a>
                                                            <div class="dropdown-divider"></div>
                                                            <a class="dropdown-item" data-target="#response"
                                                               data-toggle="modal" href="#response">Adicionar
                                                                Sprint</a>
                                                            <a class="dropdown-item" href="#">
                                                                <a class="dropdown-item" data-target="#response2"
                                                                   data-toggle="modal" href="#response">Adicionar
                                                                    Tarefa</a>

                                                    </div>
                                                </div>
                                            </td>
                                            </td>
                                        </tr>

                                        </tr>
                                        </tr>

                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <!-- velho aqui eh o modal tlgd tu n pode mexer deixa aqui -->
            <!-- velho aqui eh o modal tlgd tu n pode mexer deixa aqui -->
            <!-- SESSÃO ANTI-MONGOL NÃO MEXA-->


            <div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="response" role="dialog"
                 tabindex="-1">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Adicionar Sprint</h5>
                            <button aria-label="Fechar" class="close" data-dismiss="modal" type="button">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="form-group">
                                    <label class="col-form-label" for="recipient-name">Nome do Sprint:</label>
                                    <input class="form-control" id="recipient-name" placeholder="ex: Iniciativa Colibri"
                                           type="text">
                                </div>
                                <div class="form-group">
                                    <label class="col-form-label" for="message-text">Data de inicio do Sprint:</label>
                                    <input class="form-control" id="recipient-name" type="date">
                                </div>
                                <div class="form-group">
                                    <label class="col-form-label" for="message-text">Data de finalização do
                                        Sprint:</label>
                                    <input class="form-control" id="recipient-name" type="date">
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-secondary" data-dismiss="modal" type="button">Fechar</button>
                            <button class="btn btn-primary" type="button">Enviar</button>
                        </div>
                    </div>
                </div>
            </div>

            <div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="response2" role="dialog"
                 tabindex="-1">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Adicionar Tarefa</h5>
                            <button aria-label="Fechar" class="close" data-dismiss="modal" type="button">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="form-group">
                                    <label class="col-form-label" for="recipient-name">Nome da Tarefa:</label>
                                    <input class="form-control" id="recipient-name" placeholder="ex: Iniciativa Colibri"
                                           type="text">
                                </div>
                                <div class="form-group">
                                    <label class="col-form-label" for="message-text">Sprint da Tarefa:</label>
                                    <select class="form-control" name="sprints">
                                        <option value="spt1">Sprint 1</option>
                                        <option value="spt1">Sprint 2</option>
                                        <option value="spt1">Sprint 3</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label class="col-form-label" for="message-text">Descrição da Tarefa:</label>
                                    <textarea class="form-control" placeholder="ex: Nesta Task será feito..."
                                              rows="10"></textarea>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-secondary" data-dismiss="modal" type="button">Fechar</button>
                            <button class="btn btn-primary" type="button">Salvar</button>
                        </div>
                    </div>
                </div>
            </div>


            <div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="gerenciar-conta" role="dialog"
                 tabindex="-1">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Gerenciar Conta</h5>
                            <button aria-label="Fechar" class="close" data-dismiss="modal" type="button">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="form-group">
                                    <label class="col-form-label" for="recipient-name">Nome:</label>
                                    <input class="form-control" id="recipient-name" placeholder="ex: Iniciativa Colibri"
                                           type="text">
                                </div>
                                <div class="form-group">
                                    <label class="col-form-label" for="message-text">Data de Nascimento:</label>
                                    <input class="form-control" id="recipient-name" placeholder="dd/mm/aaaa"
                                           type="date">
                                </div>
                                <div class="form-group">
                                    <label class="col-form-label" for="message-text">Senha:</label>
                                    <input class="form-control" id="recipient-name" placeholder="********"
                                           type="password">
                                </div>
                                <div class="form-group">
                                    <label class="col-form-label" for="message-text">E-mail:</label>
                                    <input class="form-control" id="recipient-name" placeholder="ex: Matheus@matheus.com"
                                           type="text">
                                </div>
                                <!-- <div class="form-group">
                                  <label for="message-text" class="col-form-label" >Descrição:</label>
                                  <textarea class="form-control" placeholder="ex: A iniciativa Colibri tem como objetivo..." rows="15"></textarea>
                                </div>-->
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-secondary" data-dismiss="modal" type="button">Fechar</button>
                            <button class="btn btn-success" type="button">Salvar</button>
                        </div>
                    </div>
                </div>
            </div>


            <div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="editar" role="dialog"
                 tabindex="-1">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Editar Projeto</h5>
                            <button aria-label="Fechar" class="close" data-dismiss="modal" type="button">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="form-group">
                                    <label class="col-form-label" for="recipient-name">Nome do Projeto:</label>
                                    <input class="form-control" id="recipient-name" placeholder="ex: Iniciativa Colibri"
                                           type="text">
                                </div>
                                <div class="form-group">
                                    <label class="col-form-label" for="message-text">Membro 1:</label>
                                    <input class="form-control" id="recipient-name" placeholder="ex: matheus@matheus.com"
                                           type="text">
                                </div>
                                <div class="form-group">
                                    <label class="col-form-label" for="message-text">Membro 2:</label>
                                    <input class="form-control" id="recipient-name" placeholder="ex: marcio@marcio.com"
                                           type="text">
                                </div>
                                <div class="form-group">
                                    <label class="col-form-label" for="message-text">Membro 3:</label>
                                    <input class="form-control" id="recipient-name" placeholder="ex: joao@joao.com"
                                           type="text">
                                </div>
                                <div class="form-group">
                                    <label class="col-form-label" for="message-text">Documentos:</label>
                                    <select class="form-control" name="documentos">
                                        <option value="doc1">Documento 1</option>
                                        <option value="doc2">Documento 2</option>
                                        <option value="doc3">Documento 3</option>
                                    </select>
                                </div>
                                <button class="btn btn-secondary" type="button">Excluir Doc</button>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-secondary" data-dismiss="modal" type="button">Fechar</button>
                            <button class="btn btn-success" type="button">Salvar</button>
                        </div>
                    </div>
                </div>
            </div>


            <!-- velho aqui eh o modal tlgd tu n pode mexer deixa aqui -->
            <!-- velho aqui eh o modal tlgd tu n pode mexer deixa aqui -->
            <!-- velho aqui eh o modal tlgd tu n pode mexer deixa aqui -->
            <!-- velho aqui eh o modal tlgd tu n pode mexer deixa aqui -->
            <!-- velho aqui eh o modal tlgd tu n pode mexer deixa aqui -->
            <!-- velho aqui eh o modal tlgd tu n pode mexer deixa aqui -->
            <!-- SESSÃO ANTI-MONGOL NÃO MEXA-->


            <footer class="footer">
                <div class="container-fluid clearfix">
            <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © 2019
              <a href="http://www.bootstrapdash.com/" target="_blank">Iniciativa Colibri</a>. Todos os direitos reservados.</span>
                    <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Feito com
              <i class="mdi mdi-heart text-danger"></i>
            </span>
                </div>
            </footer>
            <!-- partial -->
        </div>
        <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->
<!-- plugins:js -->
<script src="../../vendors/js/vendor.bundle.base.js"></script>
<script src="../../vendors/js/vendor.bundle.addons.js"></script>
<!-- endinject -->
<!-- Plugin js for this page-->
<!-- End plugin js for this page-->
<!-- inject:js -->
<script src="../../js/off-canvas.js"></script>
<script src="../../js/misc.js"></script>
<!-- endinject -->
<!-- Custom js for this page-->
<!-- End custom js for this page-->
</body>

</html>