<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <title>Iniciativa Colibri</title>
    <!-- plugins:css -->
    <link href="../../vendors/iconfonts/mdi/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="../../vendors/css/vendor.bundle.base.css" rel="stylesheet">
    <link href="../../vendors/css/vendor.bundle.addons.css" rel="stylesheet">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <link href="../../vendors/icheck/skins/all.css" rel="stylesheet">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link href="../../css/style.css" rel="stylesheet">
    <!-- endinject -->
    <link href="../../images/passarin.png" rel="shortcut icon"/>
</head>

<body>
<div class="container-scroller">
    <!-- partial:../../partials/_navbar.html -->
    <nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
        <div class="text-center navbar-brand-wrapper d-flex align-items-top justify-content-center">
            <a class="navbar-brand brand-logo" href="../../index.html">
                <img alt="logo" src="../../images/logo.svg"/>
            </a>
            <a class="navbar-brand brand-logo-mini" href="../../index.html">
                <img alt="logo" src="../../images/logo-mini.svg"/>
            </a>
        </div>
        <div class="navbar-menu-wrapper d-flex align-items-center">
            <ul class="navbar-nav navbar-nav-right">
                <li class="nav-item dropdown">
                    <a aria-expanded="false" class="nav-link count-indicator dropdown-toggle" data-toggle="dropdown"
                       href="#" id="messageDropdown">
                        <i class="mdi mdi-file-document-box"></i>
                        <!--<span class="count">7</span>-->
                    </a>
                    <div aria-labelledby="messageDropdown"
                         class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list">
                        <div class="dropdown-item">
                            <p class="mb-0 font-weight-normal float-left">You have 7 unread mails
                            </p>
                            <span class="badge badge-info badge-pill float-right">View all</span>
                        </div>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item preview-item">
                            <div class="preview-thumbnail">
                                <img alt="image" class="profile-pic" src="../../images/faces/face4.jpg">
                            </div>
                            <div class="preview-item-content flex-grow">
                                <h6 class="preview-subject ellipsis font-weight-medium text-dark">David Grey
                                    <span class="float-right font-weight-light small-text">1 Minutes ago</span>
                                </h6>
                                <p class="font-weight-light small-text">
                                    The meeting is cancelled
                                </p>
                            </div>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item preview-item">
                            <div class="preview-thumbnail">
                                <img alt="image" class="profile-pic" src="../../images/faces/face2.jpg">
                            </div>
                            <div class="preview-item-content flex-grow">
                                <h6 class="preview-subject ellipsis font-weight-medium text-dark">Tim Cook
                                    <span class="float-right font-weight-light small-text">15 Minutes ago</span>
                                </h6>
                                <p class="font-weight-light small-text">
                                    New product launch
                                </p>
                            </div>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item preview-item">
                            <div class="preview-thumbnail">
                                <img alt="image" class="profile-pic" src="../../images/faces/face3.jpg">
                            </div>
                            <div class="preview-item-content flex-grow">
                                <h6 class="preview-subject ellipsis font-weight-medium text-dark"> Johnson
                                    <span class="float-right font-weight-light small-text">18 Minutes ago</span>
                                </h6>
                                <p class="font-weight-light small-text">
                                    Upcoming board meeting
                                </p>
                            </div>
                        </a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link count-indicator dropdown-toggle" data-toggle="dropdown" href="#"
                       id="notificationDropdown">
                        <i class="mdi mdi-bell"></i>
                        <!--<span class="count">4</span>-->
                    </a>
                    <div aria-labelledby="notificationDropdown"
                         class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list">
                        <a class="dropdown-item">
                            <p class="mb-0 font-weight-normal float-left">You have 4 new notifications
                            </p>
                            <span class="badge badge-pill badge-warning float-right">View all</span>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item preview-item">
                            <div class="preview-thumbnail">
                                <div class="preview-icon bg-success">
                                    <i class="mdi mdi-alert-circle-outline mx-0"></i>
                                </div>
                            </div>
                            <div class="preview-item-content">
                                <h6 class="preview-subject font-weight-medium text-dark">Application Error</h6>
                                <p class="font-weight-light small-text">
                                    Just now
                                </p>
                            </div>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item preview-item">
                            <div class="preview-thumbnail">
                                <div class="preview-icon bg-warning">
                                    <i class="mdi mdi-comment-text-outline mx-0"></i>
                                </div>
                            </div>
                            <div class="preview-item-content">
                                <h6 class="preview-subject font-weight-medium text-dark">Settings</h6>
                                <p class="font-weight-light small-text">
                                    Private message
                                </p>
                            </div>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item preview-item">
                            <div class="preview-thumbnail">
                                <div class="preview-icon bg-info">
                                    <i class="mdi mdi-email-outline mx-0"></i>
                                </div>
                            </div>
                            <div class="preview-item-content">
                                <h6 class="preview-subject font-weight-medium text-dark">New user registration</h6>
                                <p class="font-weight-light small-text">
                                    2 days ago
                                </p>
                            </div>
                        </a>
                    </div>
                </li>
                <li class="nav-item dropdown d-none d-xl-inline-block">
                    <a aria-expanded="false" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"
                       id="UserDropdown">
                        <span class="profile-text">Ola, Marcio Brognoni !</span>
                        <img alt="Profile image" class="img-xs rounded-circle" src="../../images/faces/face1.jpg">
                    </a>
                    <div aria-labelledby="UserDropdown" class="dropdown-menu dropdown-menu-right navbar-dropdown">
                        <a class="dropdown-item p-0">
                            <div class="d-flex border-bottom">
                                <div class="py-3 px-4 d-flex align-items-center justify-content-center">
                                    <i class="mdi mdi-bookmark-plus-outline mr-0 text-gray"></i>
                                </div>
                                <div class="py-3 px-4 d-flex align-items-center justify-content-center border-left border-right">
                                    <i class="mdi mdi-account-outline mr-0 text-gray"></i>
                                </div>
                                <div class="py-3 px-4 d-flex align-items-center justify-content-center">
                                    <i class="mdi mdi-alarm-check mr-0 text-gray"></i>
                                </div>
                            </div>
                        </a>
                        <a class="dropdown-item mt-2">
                            Gerenciar Conta
                        </a>
                        <a class="dropdown-item">
                            Trocar Senha
                        </a>
                        <a class="dropdown-item">
                            Sair
                        </a>
                    </div>
                </li>
            </ul>
            <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" data-toggle="offcanvas"
                    type="button">
                <span class="mdi mdi-menu"></span>
            </button>
        </div>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <!-- partial:../../partials/_sidebar.html -->
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
            <ul class="nav">
                <li class="nav-item nav-profile">
                    <div class="nav-link">
                        <div class="user-wrapper">
                            <div class="profile-image">
                                <img alt="profile image" src="../../images/faces/face1.jpg">
                            </div>
                            <div class="text-wrapper">
                                <p class="profile-name">Marcio Brognoni</p>
                                <div>
                                    <small class="designation text-muted">Manager</small>
                                    <span class="status-indicator online"></span>
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-success btn-block" data-target="#cadastro-projeto" data-toggle="modal">
                            Novo Projeto
                            <i class="mdi mdi-plus"></i>
                        </button>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../../index.html">
                        <i class="menu-icon mdi mdi-television"></i>
                        <span class="menu-title">Painel</span>
                    </a>
                </li>

            </ul>
        </nav>
        <!-- partial -->
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="row">
                    <div class="col-12 grid-margin">
                        <div class="card">
                            <div class="card-header text-center">
                                <h3 class=" text-center" th:text="${projeto.nome}"></h3>
                            </div>
                            <div class="card-body">
                                <form class="form-sample">
                                    <td>
                                        <label class="col-sm-3 col-form-label  border-bottom rounded">Integrantes</label>
                                    </td>
                                    <div class="row py-3">
                                        <div class="col-md-6">
                                            <div class="form-group row"
                                                 th:each="participante : ${projeto.participantes}">
                                                <div class="col-sm-9">
                                                    <label class="col-sm-5 col-form-label  border-bottom rounded"
                                                           th:text="${participante.nome}"></label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group row">
                                                        <label class="col-sm-3 col-form-label">Nota</label>
                                                        <div class="col-sm-9">
                                                            <center><span class="btn btn-primary"
                                                                          th:text="${projeto.nota}"></span></center>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="form-group row">
                                                    <label class="col-sm-3 col-form-label text-left">Documento</label>
                                                    <div class="col-sm-9">
                                                        <div class="input-group col-xs-12=">
                                                            <div class="custom-file">
                                                                <input class="custom-file-input" id="customFileLang"
                                                                       lang="pt" type="file">
                                                                <label class="custom-file-label" for="customFileLang">Selecionar
                                                                    Arquivo</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Inicio do Projeto</label>
                                                <div class="col-sm-9">
                                                    <label class="col-sm-5 col-form-label  border-bottom rounded"
                                                           th:text="${{projeto.dataCriacao}}"></label>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group row">

                                            <div class="col-sm-9">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row-12 col-12 container bg-white">
                    <center><br>
                        <h3>SPRINT TESTE</h3></center>


                    <br>
                    <div class = "card-columns">
                        <div class="card text-white  mb-3 mx-2">
                            <div class="card-body text-black bg-light">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This is a wider card with supporting text below as a natural
                                    lead-in to additional content. This content is a little bit longer.</p>
                                <p class="card-text">
                                    <small class="text-muted">Last updated 3 mins ago</small>
                                </p>
                            </div>
                        </div>
                        <div class="card text-white bg-danger mb-3 mx-2">
                            <center>
                                <div class="label text-black mb-5">TO do</div>
                            </center>

                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This is a wider card with supporting text below as a natural
                                    lead-in to additional content. This content is a little bit longer.</p>
                                <p class="card-text">
                                    <small class="text-muted">Last updated 3 mins ago</small>
                                </p>
                            </div>
                        </div>
                        <div class="card text-white bg-warning mb-3 mx-2">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This is a wider card with supporting text below as a natural
                                    lead-in to additional content. This content is a little bit longer.</p>
                                <p class="card-text">
                                    <small class="text-muted">Last updated 3 mins ago</small>
                                </p>
                            </div>
                        </div>
                        <div class="card text-white bg-success mb-3 mx-2">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This is a wider card with supporting text below as a natural
                                    lead-in to additional content. This content is a little bit longer.</p>
                                <p class="card-text">
                                    <small class="text-muted">Last updated 3 mins ago</small>
                                </p>
                            </div>
                        </div>
                </div>
                </div>

                <div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="cadastro-projeto"
                     role="dialog" tabindex="-1">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Cadastrar Projeto</h5>
                                <button aria-label="Fechar" class="close" data-dismiss="modal" type="button">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <div class="form-group">
                                        <label class="col-form-label" for="recipient-name">Nome do Projeto:</label>
                                        <input class="form-control" id="recipient-name"
                                               placeholder="ex: Iniciativa Colibri"
                                               type="text">
                                    </div>
                                    <div class="form-group">
                                        <label class="col-form-label" for="message-text">Membr o 1:</label>
                                        <input class="form-control" id="recipient-name"
                                               placeholder="ex: matheus@matheus.com"
                                               type="text">
                                    </div>
                                    <div class="form-group">
                                        <label class="col-form-label" for="message-text">Membro 2:</label>
                                        <input class="form-control" id="recipient-name"
                                               placeholder="ex: marcio@marcio.com"
                                               type="text">
                                    </div>
                                    <div class="form-group">
                                        <label class="col-form-label" for="message-text">Descrição:</label>
                                        <textarea class="form-control"
                                                  placeholder="ex: A iniciativa Colibri tem como objetivo..."
                                                  rows="15"></textarea>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-secondary" data-dismiss="modal" type="button">Fechar</button>
                                <button class="btn btn-primary" type="button">Enviar</button>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1">Anterior</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#">Próximo</a>
                        </li>
                    </ul>
                </nav>
            </div>


            <!-- content-wrapper ends -->
            <!-- partial:../../partials/_footer.html -->
            <footer class="footer">
                <div class="container-fluid clearfix">
                    <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © 2018
                        <a href="http://www.bootstrapdash.com/" target="_blank">Iniciativa Colibri</a>. Todos os direitos reservados.</span>
                    <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Feito com
                        <i class="mdi mdi-heart text-danger"></i>
                    </span>
                </div>
            </footer>
            <!-- partial -->
        </div>
        <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->
<!-- plugins:js -->
<script src="../../vendors/js/vendor.bundle.base.js"></script>
<script src="../../vendors/js/vendor.bundle.addons.js"></script>
<!-- endinject -->
<!-- Plugin js for this page-->
<!-- End plugin js for this page-->
<!-- inject:js -->
<script src="../../js/off-canvas.js"></script>
<script src="../../js/misc.js"></script>
<!-- endinject -->
<!-- Custom js for this page-->
<!-- End custom js for this page-->
</body>

</html>